@import "tailwindcss";

@theme {
  --color-brand-primary: #FF5800;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

div, header, footer, section, article, nav {
  box-sizing: border-box;
  display: flex;
}

.markdown h1 {
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 0.5em;
}

.markdown h2 {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 0.5em;
}

.markdown h3 {
  font-size: 1.25em;
  font-weight: bold;
  margin-bottom: 0.5em;
}

.markdown ol {
  list-style-type: decimal;
  margin-left: 1.5em;
  margin-bottom: 1em;
}

.markdown ul {
  list-style-type: disc;
  margin-left: 1.5em;
  margin-bottom: 1em;
}
.markdown p {
  margin-bottom: 1em;
}

.markdown a {
  color: var(--color-brand-primary);
  text-decoration: underline;
}